@attribute [Route(Routes.New)]

<EditForm Model="@model">
	<DataAnnotationsValidator />
    <FluentValidationValidator />

	<HxCard CssClass="mb-3">
		<BodyTemplate>
		  <HxCardTitle>@NewLocalizer.MandatoryData</HxCardTitle>
			<HxCardText>
				<div class="mb-3">
					<HxInputText Label="@UserDataLocalizer.FirstAndSecondName"								 
								 @bind-Value="@model.FullName" />
				</div>

				<div class="mb-3">
					<HxInputText Label="@UserDataLocalizer.PermanentAddress"
								 @bind-Value="@model.PermanentAddress" />
				</div>

				<div class="mb-3">
					<HxInputDate Label="@UserDataLocalizer.DateOfBirth"
								 CalendarIcon="BootstrapIcon.Calendar"
								 MaxDate="@DateTime.Today"
								 @bind-Value="@model.DateOfBirth" />
				</div>

			</HxCardText>
		</BodyTemplate>
	</HxCard>

	<HxCard CssClass="mb-3">
		<BodyTemplate>
		  <HxCardTitle>@NewLocalizer.OptionalData</HxCardTitle>
			<HxCardText>
				<div class="mb-3">
					<HxInputText Label="@NewLocalizer.CurrentAddress"
								 @bind-Value="@model.CurrentAddress" />
				</div>

				<div class="mb-3">
					<HxInputText Label="@NewLocalizer.PhoneNumber"
								 Type="InputType.Tel"
								 @bind-Value="@model.PhoneNumber" />
				</div>

				<div class="mb-3">
					<HxInputText Label="@NewLocalizer.Email"
								 Type="InputType.Email"								 
								 @bind-Value="@model.Email" />
				</div>

				<div class="mb-3">
					<HxInputText Label="@NewLocalizer.PassportOrIdNumber"
								 @bind-Value="@model.PassportOrIdNumber" />
				</div>

			</HxCardText>
		</BodyTemplate>
	</HxCard>

	<HxCard CssClass="mb-3">
		<BodyTemplate>
		  <HxCardTitle>@NewLocalizer.TestData</HxCardTitle>
			<HxCardText>
				<div class="mb-3">
					<HxInputDate Label="@UserDataLocalizer.TestDateTime"
								 CalendarIcon="BootstrapIcon.Calendar"
								 UseDefaultDates="false"
								 @bind-Value="@model.TestDateTime" />
				</div>

				<div class="mb-3">
					<HxInputText Label="@NewLocalizer.TestPlace"
								 @bind-Value="@model.TestPlace" />
				</div>

				<div class="mb-3">
					<HxSelect Label="@NewLocalizer.TestType"
							  TItem="TestType"
							  TValue="bool"
							  Data="@testTypes"
							  TextSelector="@(x => x.Title)"
							  ValueSelector="@(x => x.Value)"
							  Nullable="false"
							  @bind-Value="@model.TestType" />
				</div>
			</HxCardText>
			<HxSubmit Text="@NewLocalizer.CreateTest" Color="ThemeColor.Primary" OnValidClick="GenerateAsync" />
		</BodyTemplate>
	</HxCard>

</EditForm>