@attribute [Route(Routes.New)]

<EditForm Model="@model">
	<DataAnnotationsValidator />

	@if (SavedProfiles != null && SavedProfiles.Count > 0)
	{
	<HxCard CssClass="mb-3">
		<BodyTemplate>
			<HxCardTitle>@NewLocalizer.SavedProfiles</HxCardTitle>
			<HxCardText>
				<div class="mb-3">
					<HxSelect Label="@NewLocalizer.SavedProfile"
							  TItem="UserData"
							  TValue="string"
							  Data="@SavedProfiles"
							  TextSelector="@(x => x.SavedUserProfileTitle)"
							  ValueSelector="@(x => x.SavedUserProfileKey)"
							  @bind-Value="@SavedProfile"
							  Nullable="true"
							  NullText="@NullText"
							  />
				</div>

				<div class="mb-3">
					<HxButton Text="@NewLocalizer.ClearAllProfiles"
							  Color="ThemeColor.Danger"
							  OnClick="ClearAllLocalStoragesAsync" />

					@if (!string.IsNullOrEmpty(SavedProfile))
					{
						<HxButton Text="@NewLocalizer.ClearProfile"
								  Color="ThemeColor.Warning"
								  OnClick="ClearSelectedLocalStorageAsync" />
					}
				</div>
			</HxCardText>
		</BodyTemplate>
	</HxCard>
	}

	<HxCard CssClass="mb-3">
		<BodyTemplate>
		  <HxCardTitle>@NewLocalizer.MandatoryData</HxCardTitle>
			<HxCardText>
				<div class="mb-3">
					<HxInputText Label="@NewLocalizer.FirstAndSecondName"								 
								 @bind-Value="@model.FullName" />
				</div>

				<div class="mb-3">
					<HxInputText Label="@NewLocalizer.PermanentAddress"
								 @bind-Value="@model.PernamentAddress" />
				</div>

				<div class="mb-3">
					<HxInputDate Label="@NewLocalizer.DateOfBirth"
								 CalendarIcon="BootstrapIcon.Calendar"
								 MaxDate="@DateTime.Today"
								 @bind-Value="@model.DateOfBirth" />
				</div>

			</HxCardText>
		</BodyTemplate>
	</HxCard>

	<HxCard CssClass="mb-3">
		<BodyTemplate>
		  <HxCardTitle>@NewLocalizer.OptionalData</HxCardTitle>
			<HxCardText>
				<div class="mb-3">
					<HxInputText Label="@NewLocalizer.CurrentAddress"
								 @bind-Value="@model.CurrentAddress" />
				</div>

				<div class="mb-3">
					<HxInputText Label="@NewLocalizer.PhoneNumber"
								 Type="InputType.Tel"
								 @bind-Value="@model.PhoneNumber" />
				</div>

				<div class="mb-3">
					<HxInputText Label="@NewLocalizer.Email"
								 Type="InputType.Email"								 
								 @bind-Value="@model.Email" />
				</div>

				<div class="mb-3">
					<HxInputText Label="@NewLocalizer.PassportOrIdNumber"
								 @bind-Value="@model.PassportOrIdNumber" />
				</div>

			</HxCardText>
		</BodyTemplate>
	</HxCard>

	<HxCard CssClass="mb-3">
		<BodyTemplate>
		  <HxCardTitle>@NewLocalizer.TestData</HxCardTitle>
			<HxCardText>
				<div class="mb-3">
					<HxInputDate Label="@NewLocalizer.TestDateTime"
								 CalendarIcon="BootstrapIcon.Calendar"
								 UseDefaultDates="false"
								 @bind-Value="@model.TestDateTime" />
				</div>

				<div class="mb-3">
					<HxInputText Label="@NewLocalizer.TestPlace"
								 @bind-Value="@model.TestPlace" />
				</div>

				<div class="mb-3">
					<HxSelect Label="@NewLocalizer.TestType"
							  TItem="TestType"
							  TValue="bool"
							  Data="@testTypes"
							  TextSelector="@(x => x.Title)"
							  ValueSelector="@(x => x.Value)"
							  Nullable="false"
							  @bind-Value="@model.TestType" />
				</div>
			</HxCardText>
			<HxSubmit Text="@NewLocalizer.CreateTest" Color="ThemeColor.Primary" OnClick="GenerateAsync" />
		</BodyTemplate>
	</HxCard>

</EditForm>